
.icon-phone:before { content: '\e800'; } /* '' */
.icon-contact:before { content: '\e801'; } /* '' */
.icon-deal:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-delete:before { content: '\e804'; } /* '' */
.icon-move-to:before { content: '\e805'; } /* '' */
.icon-lead:before { content: '\e844'; } /* '' */