extends dashboard

block elements
  h1 New Project
  form.mt-5(method='POST', action='/projects/new')
    .form-group.row
      label.col-sm-2.col-form-label.col-form-label-lg(for='name') Name
      .col-sm-10
        input#name.form-control.form-control-lg(type='text', placeholder='Project Name', name='name')
    .form-group.row
      label.col-sm-2.col-form-label.col-form-label-lg(for='description') Description
      .col-sm-10
        textarea#company.form-control.form-control-lg(placeholder='Project description', name='description')
    button.btn.btn-lg.btn-success.float-right.mt-3(type='submit') Create Project
    
        
    