doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/air-datepicker/dist/css/datepicker.min.css')
    link(rel='stylesheet', href='/bower_components/star-rating-svg/src/css/star-rating-svg.css')
    link(rel='stylesheet', href='/icons/fontello/css/crm_icons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/popper.js/dist/umd/popper.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/air-datepicker/dist/js/datepicker.min.js')
    script(src='/bower_components/air-datepicker/dist/js/i18n/datepicker.en.js')
    script(src='/bower_components/star-rating-svg/dist/jquery.star-rating-svg.min.js')
    script(src='/bower_components/timeago/jquery.timeago.js')
    script(src="/javascripts/jquery.tableToExcel.js" )
    script(src='/javascripts/main.js')
    
